<div class="questions-container">

  <div class="question-container selected" id="question-1" data-order="1">

    <div class="question ui-card ui-card-rounded">

      <h1>Do you own a home?</h1>

      <div class="buttons">
        <button class="yes-btn ui-btn px-4">Yes</button>

        <%# TODO %>
        <%= link_to "No", root_path, class: 'ui-btn px-4' %>

      </div>

    </div>

  </div>

  <div class="question-container positioned-right" id="question-2" data-order="2">

    <div class="question ui-card ui-card-rounded">

      <h1>Where is your home located?</h1>

      <div class="buttons">
        <button class="yes-btn ui-btn px-4">Yes</button>

        <%# TODO %>
        <%= link_to "No", root_path, class: 'ui-btn px-4' %>
      </div>

    </div>

  </div>

  <div class="question-container positioned-right" id="question-3" data-order="3">

    <div class="question ui-card ui-card-rounded">

      <h1>What type of home?</h1>

      <div class="buttons">
        <button class="yes-btn ui-btn px-4">Yes</button>

        <%# TODO %>
        <%= link_to "No", root_path, class: 'ui-btn px-4' %>
      </div>

    </div>

  </div>

  <div class="question-container positioned-right" id="question-4" data-order="4">

    <div class="question ui-card ui-card-rounded">

      <h1>Isolation level of your home?</h1>

      <div class="buttons">
        <button class="yes-btn ui-btn px-4">Yes</button>

        <%# TODO %>
        <%= link_to "No", root_path, class: 'ui-btn px-4' %>
      </div>

    </div>

  </div>

  <div class="question-container positioned-right" id="question-5" data-order="5">

    <div class="question ui-card ui-card-rounded">

      <h1>How many people live there?</h1>

      <div class="buttons">
        <button class="yes-btn ui-btn px-4">Yes</button>

        <%# TODO %>
        <%= link_to "No", root_path, class: 'ui-btn px-4' %>
      </div>

    </div>

  </div>



</div>
